body{
    margin:0;
     background:white; 
     font-family: 'Sunflower', sans-serif;
}
h1{
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #4b367c;
    color: white;
}

ul#streamingList {
    margin-top: 50px;
}

li {
    background: white;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
    margin: 20px auto;
    width: 400px;
    border: 1px solid #efe8ff;
    border-radius: 4px;
    box-shadow: 1px 5px 15px #8f8f8f57;
    transition: box-shadow 0.5s;
    padding: 20px;
    display: block;
}

li:hover {
    box-shadow: 1px 1px 5px #8f8f8f57;
    transition: box-shadow 0.5s;
}

.inactive{
    color:grey;
}
p{
    font-size:12px;
}

