body{
    margin:0;
     background:white;   
}
h1{
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #4b367c;
    color: white;
}
li{
    background:white;
    font-size:18px;
    text-align: center;
    list-style-type: none;
    margin: 20px;
    border: 2px solid black;
    width: 400px;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #4b367c;
}
.inactive{
    color:lightgrey;
}
p{
    font-size:12px;
}

